.card-container {
    margin: 10px;
  }
  
  .card {
    width: 300px ;
    height: 500px !important;
    align-items: center;
  
  }
  
  .estatus {
    margin: 0px;
  }
  
  .fecha {
    height: 50px;
  }
  
  .nombreBic {
    height: 30%;
    width: 100%;
    margin: 5px;
  }
  
  .imgContCard {
    width: 90%;
    height: 50%;
    box-sizing: border-box;
  }
  
  .imgCard {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
  }
.button-containerImg{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.titl{
    width:auto;
    height: auto;
    width: 70%;
    background-color: azure;
    color: black;
    text-justify: auto;
    border-radius: 5px;
}
.desc{
    width: 80%;
    height: 10%;
    background-color: azure;
    color: black;
    text-justify: auto;
    margin-top: 5%;
    border-radius: 5px;
}  