.list-group-item {
    width: 100%;
    background-color: #212529 !important;
    border-radius: 10px;
    border: 2px solid #000000!important;
    color: white!important;
  }
  .col-lg-8 {
    text-align: left;
  }
  ul.list-group {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }