body{
    background-color: rgb(0, 0, 0);
}
.ContFondoUno{
    background-color: #1f2021;
    color: #ffffff;
    border: 2px dashed #4e4e4e;
    border-radius: 5px;
}
.RowTitulo{
    text-align: center;
}
.ConinfoBic{
    text-align: start;
    margin: auto;
}
.panelderep{
    border: #4e4e4e 2px dashed;
}


.detail-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.description {
    flex-basis: 50%;
    margin-right: 20px;
}

.description h2 {
    margin-top: 0;
}

.image-container {
    flex-basis: 40%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-save {
    background-color: #4caf50;
}

.btn-cancel {
    background-color: #f44336;
}

.btn:hover {
    opacity: 0.8;
}

form label,
form input,
form textarea,
form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

.formReporte {
    display: block;
}

.btn-group {
    align-items: center;

}

.imgBicPrin {
    height: 60%;
}

.contenedorImg {
    width: 90%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}